{% extends "Layouts/admin-master.html" %}
{% load static public_tags %}
{% block Content %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">ارتباط باما</h1>
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-left">
                            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">خانه</a></li>
                            <li class="breadcrumb-item active">ارتباط باما</li>
                        </ol>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">جدول ارتباط باما</h3>
                                <br/>
{#                                <biv>#}
{#                                    <a href="{% url 'contact_us-create' %}" class="btn btn-success"#}
{#                                    >ساخت محصول جدید</a#}
{#                                    >#}
{#                                </biv>#}
                                <div class="card-tools">
                                    <div class="input-group input-group-sm" style="width: 150px">
                                        <input
                                                type="text"
                                                name="table_search"
                                                class="form-control float-right"
                                                placeholder="جستجو"
                                        />

                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-default">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body table-responsive p-0">
                                <table class="table table-hover">
                                    <tbody>
                                    <tr>
                                        <th>شناسه</th>
                                        <th>نام</th>
                                        <th>نام خانوادگی</th>
                                        <th>ایمیل</th>
                                        <th>شماره موبایل</th>
                                        <th>عنوان</th>
                                        <th>متن</th>
                                        <th>تاریخ و زمان ثبت</th>
                                        <th>عملیات</th>
                                    </tr>
                                    {% for item in object_list %}
                                        <tr>
                                            <td>{{ item.id |  default:'---' }}</td>

                                            <td>{{ item.first_name | default:'---' }}</td>

                                            <td>{{ item.last_name | default:'---' }}</td>

                                            <td>{{ item.email | default:'---' }}</td>

                                            <td>{{ item.phone | default:'---' }}</td>

                                            <td>{{ item.title | default:'---' }}</td>

                                            <td title="{{ item.text }}">{{ item.text | truncatechars:25 | default:'---' }}</td>

                                            <td>{{ item.created_at | jdate |  default:'---' }}</td>
                                               <td>

                                                <form id="frm_delete_{{ item.id }}"
                                                      method="post"
                                                      action="{% url 'contact_us-delete' item.id %}">
                                                    {% csrf_token %}
                                                </form>
                                                <a onclick="$('#frm_delete_{{ item.id }}').submit()"
                                                   class="btn btn-danger btn-action mr-1"
                                                   data-toggle="tooltip" title="حذف"
                                                   data-original-title="حذف"><i
                                                        class="fas fa-pencil-alt"></i><i
                                                        class="fa fa-trash"> </i> </a>

                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>

{% endblock %}
