{% extends "Layouts/admin-master.html" %} {% load crispy_forms_tags public_tags %}
{% block Content %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">کد تخفیف</h1>
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-left">
                            <li class="breadcrumb-item">
                                <a href="{% url 'dashboard' %}">خانه</a>
                            </li>
                            <li class="breadcrumb-item active">کد تخفیف</li>
                        </ol>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">افزودن کد تخفیف</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form role="form" method="post" enctype="multipart/form-data">
                            <div class="card-body">
                                {% csrf_token %}

                                <div class="form-group">
                                    <div class="row">
                                        {% for field in form %}
                                            <div class="col-{% if field.name in 'body' %}12{% else %}6{% endif %}">
                                                <label for="id_{{ field.name }}">{{ field.label }}</label>

                                                {{ field|addclass:"form-control" }}
                                                {% if field.name == 'code' %}
                                                    <label for="id_auto_code">ساخت اتوماتیک کد منحصر بفرد</label>
                                                    <input type="checkbox" onchange="GenerateUniqueCode(this)"
                                                           id="id_auto_code" value="1">
                                                {% endif %}

                                                {% if field.help_text %}
                                                    <p><small
                                                            style="font-size: 14px">{{ field.help_text|safe }} </small>
                                                    </p>
                                                {% endif %}
                                                {% if field.errors %}
                                                    <p><small class="text-danger" style="font-size: 14px"
                                                              style="color:red">{{ field.errors.0|safe }}</small></p>
                                                {% endif %}
                                                {% if field.non_field_errors %}
                                                    <p><small class="text-danger" style="font-size: 20px"
                                                              style="color:red">{{ field.non_field_errors.0|safe }}</small>
                                                    </p>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">ارسال</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>

{% endblock %}

{% block Scripts %}
    <script>
        kamaDatepicker('id_expiration', {
            // placeholder: 'تاریخ صدور',
            buttonsColor: 'blue',
            markHolidays: true
        });
        $("#id_expiration").attr('autocomplete', 'off');
        $('#id_expiration').on('change', function () {
            $('#id_expiration').val($('#id_expiration').val().replaceAll('/', '-'))
        })
    </script>

    <script>

        function generateUUID() { // Public Domain/MIT
            var d = new Date().getTime();//Timestamp
            var d2 = ((typeof performance !== 'undefined') && performance.now && (performance.now() * 1000)) || 0;//Time in microseconds since page-load or 0 if unsupported
            return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
                var r = Math.random() * 16;//random number between 0 and 16
                if (d > 0) {//Use timestamp until depleted
                    r = (d + r) % 16 | 0;
                    d = Math.floor(d / 16);
                } else {//Use microseconds since page-load if supported
                    r = (d2 + r) % 16 | 0;
                    d2 = Math.floor(d2 / 16);
                }
                return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);
            });
        }

        function GenerateUniqueCode(event) {
            if (event.checked) {
                var code = generateUUID();
                $('#id_code').val(code);
            } else {
                $('#id_code').val('');
            }

        }

    </script>
{% endblock %}