{% extends "Layouts/admin-master.html" %} {% load crispy_forms_tags public_tags %}
{% block Content %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">سایز ها</h1>
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-left">
                            <li class="breadcrumb-item">
                                <a href="{% url 'dashboard' %}">خانه</a>
                            </li>
                            <li class="breadcrumb-item active">سایز ها</li>
                        </ol>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">افزودن سایز</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form role="form" method="post" enctype="multipart/form-data">
                            <div class="card-body">
                                {% csrf_token %}

                                <div class="form-group">
                                    <div class="row">
                                        {% for field in form %}
                                            <div class="col-{% if field.name in 'text' %}12{% else %}6{% endif %}">
                                                <label for="id_{{ field.name }}">{{ field.label }}</label>

                                                {{ field|addclass:"form-control" }}

                                                {% if field.help_text %}
                                                    <p><small
                                                            style="font-size: 14px">{{ field.help_text|safe }} </small>
                                                    </p>
                                                {% endif %}
                                                {% if field.errors %}
                                                    <p><small class="text-danger" style="font-size: 14px"
                                                              style="color:red">{{ field.errors.0|safe }}</small></p>
                                                {% endif %}
                                                {% if field.non_field_errors %}
                                                    <p><small class="text-danger" style="font-size: 20px"
                                                              style="color:red">{{ field.non_field_errors.0|safe }}</small>
                                                    </p>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>

                                {#              <div class="form-group">#}
                                {#                <div class="row">#}
                                {#                  <div class="col-6">{{ form.title | as_crispy_field }}</div>#}
                                {#                  <div class="col-6">{{ form.slug | as_crispy_field }}</div>#}
                                {#                </div>#}
                                {#              </div>#}
                                {#              <div class="form-group">#}
                                {#                <div class="row">#}
                                {#                  <div class="col-8">{{ form.short_text | as_crispy_field }}</div>#}
                                {#                </div>#}
                                {#              </div>#}
                                {#              <div class="form-group">#}
                                {#                <div class="row">#}
                                {#                  <div class="col-8">{{ form.text | as_crispy_field }}</div>#}
                                {#                </div>#}
                                {#              </div>#}
                                {#              <div class="form-group">#}
                                {#                <div class="row">#}
                                {#                  <div class="col-6">{{ form.tags | as_crispy_field }}</div>#}
                                {#                  <div class="col-6">{{ form.price | as_crispy_field }}</div>#}
                                {#                </div>#}
                                {#              </div>#}
                                {#              <div class="form-group">#}
                                {#                <div class="row">#}
                                {#                  <div class="col-4">{{ form.status | as_crispy_field }}</div>#}
                                {#                  <div class="col-4">{{ form.count | as_crispy_field }}</div>#}
                                {#                  <div class="col-4">{{ form.suggestion_count | as_crispy_field }}</div>#}
                                {#                </div>#}
                                {#              </div>#}
                                {#              <div class="form-group">#}
                                {#                <div class="row">#}
                                {#                  <div class="col-4">{{ form.original_image | as_crispy_field }}</div>#}
                                {#                  <div class="col-4">{{ form.user | as_crispy_field }}</div>#}
                                {#                  <div class="col-4">{{ form.category | as_crispy_field }}</div>#}
                                {#                </div>#}
                                {#              </div>#}
                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">ارسال</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>

{% endblock %}
