{% extends "Layouts/admin-master.html" %}
{% load humanize public_tags %}
{% block Content %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">پرداخت ها</h1>
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-left">
                            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">خانه</a></li>
                            <li class="breadcrumb-item active">پرداخت ها</li>
                        </ol>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">جدول پرداخت ها</h3>
                                <br/>
                                <div class="card-tools">
                                    <div class="input-group input-group-sm" style="width: 150px">
                                        <input
                                                type="text"
                                                name="table_search"
                                                class="form-control float-right"
                                                placeholder="جستجو"
                                        />

                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-default">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body table-responsive p-0">
                                <table class="table table-hover">
                                    <tbody>
                                    <tr>
                                        <th>شناسه</th>
                                        <th>کاربر</th>
                                        <th>مبلغ</th>
                                        <th>کد تخفیف</th>
                                        <th>کد بازگشتی درگاه</th>
                                        <th>شناسه پیگیری</th>
                                        <th>وضعیت</th>
                                        <th>تاریخ ثبت</th>
                                    </tr>
                                    {% for item in object_list %}
                                        <tr>
                                            <td>{{ item.id |  default:'---' }}</td>
                                            <td>{{ item.user | default:'---' }}</td>
                                            <td>{{ item.amount | intcomma:False | default:'---' }} تومان</td>
                                            <td>{{ item.coupon | default:'---' }}</td>
                                            <td>{{ item.authority | default:'---' }}</td>
                                            <td>{{ item.ref_code | default:'---' }}</td>

                                            {% if item.status %}
                                                <td class="badge badge-success mt-2 mr-2">موفق</td>
                                            {% else %}
                                                <td class="badge badge-danger mt-2 mr-2">ناموفق</td>
                                            {% endif %}

                                            <td>{{ item.created_at | jdate | default:'---' }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>

{% endblock %}
